<?xml version="1.0"?>

<model>
  <name>Swarm Carrier V6</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Blake McHale</name>
    <email>mchale.b@northeastern.edu</email>
  </author>

  <maintainer email="mchale.b@northeastern.edu">Blake McHale</maintainer>


  <description>
    Swarm Carrier V6 model from Solidworks
  </description>
</model>
