<?xml version="1.0" ?>
<model>
    <name>stadium_box</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>John Buczek</name>
        <email>buczekjohn@gmail.com</email>
    </author>
    <description>
    A simple box to represent the stadium bleachers at white stadium in franklin park
    </description>
</model>
