<?xml version="1.0"?>
<model>
  <name>Wallace</name>
  <version>1.0</version>
  <sdf version='1.5'>wallace.sdf</sdf>

  <author>
   <name>Blake McHale</name>
   <email>mchale.b@northeastern.edu</email>
  </author>

  <description>
    This is a model of a standard plane. It is named after Wallace's flying frog.
  </description>
</model>
